{% extends "core/base.html" %}
{% load static %}
{% block content %} 
<div class="text-center">

   <img src="{% static 'style/img/rkdf.jfif' %}" alt="profilepick" 
   class="img-thumbnail mt-4 " width="240px" height="140">

</div>
    <div class="mt-5 text-black mx-5 text-justify> 
         <h2 class="fornt-weight-bold st-font><h3>hello,</h3></h2>



    <div class="px-4" style="line-height: 2rem;">
        
                 <b dear  class="text-warining">Pichai Sundararajan</b>  
                 <p class="text-justify"> Pichai Sundararajan (born June 10, 1972 ),
                   better known as Sundar Pichai (/ˈsʊndɑːr pɪˈtʃaɪ/),
                   is an Indian-American business executive.
                   He is the chief executive officer (CEO) of Alphabet Inc.
                   Moving to the United States, he attained an M.S. 
                   from Stanford University in materials science and
                   engineering and further attained an MBA from the
                   Wharton School of the University of Pennsylvania.</p>
                  </p> 
    </div>
    </div>
        <div class="text-center">
          <a href="" class="btn btn-outline-warning my-3 mr-5">hire-me</a>
          <a href=""class="btn btn-outline-info my-3 mr-5">contect</a>
        </div>

</div>

{% endblock content %}